<!--
    calculate padding bottom:
    padding-bottom percent = (height/width)*100

    or just ratio:
    padding-bottom percent = (9/16)*100

    LESS:
    padding-bottom: floor((9%/16%)*100%);
-->

<!-- LESS -->
<style>
.image-wrapper {
  padding-bottom: floor((9%/16%)*100%); // (height/width)*100;
  position: relative;
  height: 0;
  overflow: hidden;

  video,
  img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
}
</style>

<div class="image-wrapper">
    <video class="" poster="poster.jpg" loop autoplay>
        <source src="hero.mp4" type="video/mp4">
        <source src="hero.webm" type="video/webm" />
        <source src="hero.ogv" type="video/ogg" />
    </video>
    <img class="" src="fallback.jpg" />
</div>
